@charset "UTF-8";
/* Noto san KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poiret+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Noto san KR */
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poiret+One&display=swap');
/* Roboto */
  /* skip-nav -S */
  .skip-nav-tit{ 
    width: 100%; height: 30px; 
    text-align: center; line-height: 30px; color:#fff; 
    background-color: #002060;
    position: absolute; left: 0; top: -100px; z-index: 20;
  }
  .skip-nav-tit:focus{top: 0;}
  /* skip-nav -E */
  /* COMMON -S */
  body { font-family:'Noto Sans KR', 'Roboto',dotum, AppleGothic, sans-serif; color: inherit; letter-spacing: -1px;}
  .hidden{  
    display: none;
    width: 0;height: 0; 
    font-size: 0; line-height: 0; text-indent: -999.9rem;
    position: absolute; left: -999.9rem; top:0;
    overflow: hidden;
  }
  .inner { padding: 0 6.5rem; }
  /* COMMON -E */
  /* HEADER -S */
  .header { 
    box-sizing: border-box;
    display: flex; flex-direction: row-reverse; justify-content: space-between; align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    padding: 50px 65px 0;
    position: absolute; left: 0; top: 0; z-index: 10;
  }
  .header .logo { 
    width: 10rem; height: 2.6rem;
    position: absolute;  left: 50%; top:5rem;
    transform: translateX(-40%); 
  }
  .header .logo a { 
    display:block; 
    width: 100%; height: 2.6rem;
    text-indent: -999.9rem; 
    background-image: url(../img/logo_w.png);
  }
  /* gnb -S */
  .gnb { 
    box-sizing: border-box;
    padding: 2rem 0;
    border-top: 2px solid #fff; border-bottom: 2px solid #fff;
    width: 100%;
    text-align: center;
    position: absolute; left: 0; top: 12.8rem;
  }
  .gnb > ul { 
    display: flex; justify-content: space-evenly;
  }
  .gnb .depth1 { position: relative; }
  .gnb .depth1 a { font-size: 1.6rem; line-height: 2rem; color: #fff; }
  .gnb .depth1 > a {
    padding:  5rem 0;
    width: 100%;
    position: relative;
  }
  .gnb .depth1 .depth2 {
    display: none;
    margin-top: 4.3rem;
    width: 12rem;
    background-color: #fff;
    position: absolute; left: -3rem; top: 2rem;
  }
  .gnb .depth1:nth-child(3) .depth2{ left: -4.5rem; }
  .gnb .depth1:nth-child(4) .depth2{ left: -4.3rem; }
  .gnb .depth1 .depth2 li { padding: 1.5rem 1rem 0; }
  .gnb .depth1 .depth2 li:last-child { padding-bottom: 1.5rem; }
  .gnb .depth1 .depth2 li a { 
    display: block;
    color: #000;
  }
  .gnb .depth1:hover .depth2 { display: block; }
  .gnb .depth1 .depth2 a:hover { text-decoration: underline; }
  /* gnb -E */
  /* tnb -S */
  .tnb { 
    margin-left: auto;
    display: flex; align-items: center; 
    /* position: absolute; right: 6.5rem; top: 5rem; */
  }
  /* lang -S */
  .tnb .lang { 
    margin: 2rem 3.2rem 0 0; padding: 0 0 2rem;
    position: relative;
  }
  .tnb .lang::after{content: "";
    display: none;
    width: 6.5rem; height:6rem;
    background-color: #fff;
    position: absolute; left: -0.8rem; top: 2.8rem;
  } 
  .tnb .lang dt a { 
    margin-right: 0.8rem;
    display: flex; align-items: center; justify-content: space-between;
    width: 52px; 
    font-size: 1.6rem; color: #fff;
  }
  .tnb .lang dt a:after { content: "";
    display: block;
    width: 1.6rem; height: 0.8rem;
    background-image: url(../img/arrow.png);
  }
  .lang .lang-list { 
    display: none;
    font-size: 1.6rem; line-height: 2rem;
    position: absolute; left: 0.8rem; top: 3.1rem;
    z-index: 10;
  }
  .lang .lang-list:nth-of-type(1) { 
    font-weight: 700; color: #00017a;
  }
  .lang .lang-list:nth-of-type(2) { top:5.5rem }
  /* lang -E */
  /* search -S */
  .search-open { 
    position: fixed; right: 0; top: -42rem; z-index: 10;
    width: 100%; height: 42rem;
    background-color: #fff;
    transition: all 0.3s;
  }
  .search-open .search-close { position: absolute; right: 6.5rem; top: 5rem}
  .search-box { 
    display: flex; flex-direction: column;  justify-content: space-evenly; align-items: center;
    width: 100%; height: 42rem;
  }
  .search-box fieldset { 
    flex: 40%; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
    border-bottom: 2px solid #000 ;
    margin-bottom: 4.8rem;

  }
  .search-box fieldset input { 
    margin-bottom: 1.9rem; 
    border: 0;
    width: 100%; height: 4rem;
  }
  .search-box fieldset input::placeholder { 
    font-size: 2.4rem; color: #777;
  }
  .search-box fieldset button { margin-bottom: 1.9rem; }
  .search-box .search-recom { flex: 60%; }
  .search-recom .search-recom-icon { 
    margin-bottom: 3.4rem;
    font-weight: 700; font-size: 1.8rem; line-height: 2.4rem; text-align: center; 
  }
  .search-recom .search-recom-box { font-weight: 500; font-size: 1.8rem; line-height: 2.4rem; }
  .search-recom .search-recom-box li { 
    display: inline-block;
    box-sizing: border-box; 
    padding: 0.9rem 2.5rem; 
    border: 1px solid #999; border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  .search-recom .search-recom-box li+li { margin-left: 3rem ;}
  /* search -E */
  /* tnb -E */
  /* all-menus -S */
  .all-menu-open { display: flex; justify-content: space-between; align-items: center; }
  .all-menu-open .open-icon { margin-right: 1.1rem; }
  .all-menu-open > p { font-size: 2rem; line-height: 2rem; color: #fff; }
  .all-menu-open .open-icon span{ transition: all 0.3s;}
  .all-menu .open-icon { 
    display: flex; flex-direction: column;
    justify-content: space-between;
    width: 3.6rem; height:2.4rem
  }
  .all-menu .open-icon span { 
    display: block; 
    width: 3.6rem; height: 0.4rem;
    background-color: #fff;
  }
  .all-menu-wrap { 
    display: flex;
    width: 100%; height: 100vh;
    background-color: #fff;
    position: fixed; left: 0; top: -100vh; z-index: 1;
    transition: all 0.3s;
  }
  .all-menu-wrap::after { content: "";
    width: 100%;  height: 0.2rem;
    background-color: #c7c7c7;
    position: absolute; left: 0; top: 10.6rem;
  }
  /* all-menu-gnb -S */
  .all-menu-wrap .all-menu-gnb{
    width: 40%;
    box-sizing: border-box;
    padding: 13rem 0 0 4rem;
  }
  .all-menu-wrap .all-menu-gnb .depth1 + .depth1 { margin-top: 3rem; }
  .all-menu-wrap .all-menu-gnb .depth1 > a { 
    margin-bottom: 1.5rem;
    display: block;
    font-weight: 600; font-size: 3rem; line-height: 4rem;
    transition: all 0.3s;
  }
  .all-menu-wrap .all-menu-gnb .depth1:hover > a{ color: #f00; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 { display: flex; flex-wrap: wrap; }
  .all-menu-wrap .all-menu-gnb .depth1:nth-child(3) .depth2 li { margin-bottom: 1.3rem; }
  .all-menu-wrap .all-menu-gnb .depth1:nth-child(3) .depth2 li:last-child { border-left: 0; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 { display: flex; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li {
    border-left: 2px solid #000;
    font-size: 2rem;
  }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li:first-child { border-left: 0; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li a { padding: 0 2rem;}
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li:first-child a { padding-right: 2rem;}
  .all-menu-wrap .all-menu-center {
    width: 30%;
    box-sizing: border-box;
    padding: 38.2rem 0 0 6.7rem;
    background-image: url(../img/earth-all-menu.png);  background-size:cover;
  }
  /* all-menu-gnb -E */
  /* all-menu-center -S */
  .all-menu-wrap .all-menu-center img { width: 80%;}
  /* all-menu-center -E */
  /* all-menu-hire -S */
  .all-menu-wrap .all-menu-hire {
    width: 30%;
    box-sizing: border-box;
    padding-top: 10vw;
    background-color: #2a4fba;
    position: relative;
    }
    .all-menu-wrap .all-menu-hire figure { 
      margin: 0 auto 5.9rem;
      width: 19rem; height:5rem 
    }
  .all-menu-wrap .all-menu-hire figure img { width: 100%; }
  .all-menu-wrap .all-menu-hire h2 { 
    margin-bottom: 4.5rem;
    font-weight: 700; font-size: 3rem; line-height: 3.6rem;  color: #fff; text-align: center;
  }
  .all-menu-wrap .all-menu-hire strong {
    margin-bottom: 4vw;
    display: block;
    font-weight: 700; font-size: 3rem; line-height: 3.6rem; color: #fff; text-align: center;
  }
  .all-menu-wrap .all-menu-hire a {
    width: 15.9rem; height: 5.7rem; border: 2px solid #fff; border-radius: 50%;
    font-size: 2.4rem; color: #fff; line-height: 5.7rem; text-align: center;
    position: absolute; left: 50%; bottom: 6vw;
    transform:translateX(-50%);
    transition: all 0.3s;
  }
  .all-menu-wrap .all-menu-hire p { 
    font-size: 1.6rem; line-height: 3.6rem; color: #fff; text-align: center;
  }
  /* all-menu-hire -E */
  /* all-menu-close -S */
  .all-menu-close { 
    display: flex; 
    align-items: center;
    position: absolute; left: 6.5rem; top: 5rem;
  }
  .all-menu-close .close-icon { 
    display: flex;
    flex-direction: column; justify-content: space-between;
    margin-right: 1.1rem;
  }
  .all-menu-close .close-icon span { 
    display: block;
    width: 3.6rem; height: 0.4rem;
    background-color: #000;
    transition: all 0.3s;
  }
  .all-menu-close .close-icon span:first-child { 
    transform-origin:42% 45%;
    transform:rotate(43deg); 
  }
  .all-menu-close .close-icon span:last-child {
    transform-origin: 42% 45%;
    transform:rotate(-43deg);
  }
  .all-menu-close p { font-size: 2rem; line-height: 2rem; color:#000 }
  .all-menu-close .close-icon p { font-size: 2rem; }
  /* all-menu-close -E */
  /* all-menus -E */
  /* hover -S */
  .search-recom .search-recom-box li:hover { 
    border-color: #f00;
    color:#f00; 
  }
  .all-menu-open:hover .open-icon span:nth-child(1) { 
    transform-origin:15% 0%;
    transform:rotate(90deg);
  } 
  .all-menu-open:hover .open-icon span:nth-child(2) {
  transform-origin:43% 0%;
  transform: rotate(90deg);
  }
  .all-menu-open:hover .open-icon span:nth-child(3) {
    transform-origin: 72% 0%;
    transform:rotate(90deg);
  }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li a:hover{ text-decoration: underline; }
  .all-menu-wrap .all-menu-hire a:hover { 
    background-color: #fff;
    color: #2a4fba;
  }
  .all-menu-close:hover .close-icon span:first-child { 
  transform-origin:45% 55%;
  transform:rotate(55deg); 
  }
  .all-menu-close:hover .close-icon span:last-child { 
  transform-origin:45% 55%;
  transform:rotate(-55deg); 
  }
  .tnb .lang:hover > .lang-list{ display: block; }
  .tnb .lang:hover::after { display: block; }
  /* hover -E */
  /* HEADER -E */

  /* FOOTER -S */
  .footer { 
    width:100%;
    background-image: url(../img/footer-bg.png); background-size: cover;
  }
  .footer .inner{
    padding-top: 8rem;
    position: relative;
  }
  .footer-tit {
    margin-bottom: 4.5rem;
    font-weight: 700; font-size: 60px; color: #555; line-height: 7rem;
  }
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .f-wrap { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 164px;
    width: 100%;
  }
  /* f-info -S */
  .f-wrap .f-info .f-info-box + .f-info-box { margin-top: 10px;}
  .f-wrap .f-info-box { 
    display: flex; 
    align-items: center;
  }
  .f-wrap .f-info-box address { 
    font-size: 1.6rem; line-height: 2rem; color: #333;
  }
  .f-wrap .f-info-box h6 { 
    margin-right: 57px;
    width: 85px;
    font-weight: 500; font-size: 2.4rem; color: #333; 
  }
  .f-wrap .f-info-box p {
    font-size: 1.6rem; line-height: 2rem; color: #333;
  }
  /* f-info -E */
  /* fnb -S */
  .f-wrap .fnb ul {
    display: flex;
    justify-content: space-between;
  }
  .f-wrap .fnb ul li a {
    display: block;
    padding: 0 25px;
    font-size: 1.6rem; color: #555; line-height: 2rem;
    transition: all 0.3s;
  }
  /* fnb -E */
  /* f-etc -S */
  .f-etc { 
    box-sizing: border-box;
    display: flex; justify-content: space-between;
    padding: 15px 65px;
    width: 100%;
    border-top: 2px solid #333;
    position: absolute; left: 0; bottom: 0;
  }
  .f-etc p { font-size:1.6rem; line-height: 2rem; color: #333; }
  .f-etc nav ul {
    display: flex;
    justify-content: space-between;
  }
  .f-etc nav ul li + li { border-left: 1px solid #333; }
  .f-etc nav ul li a { 
    display: block;
    padding: 0 28px;
    font-size:1.6rem; line-height: 2rem; color: #333; 
    transition: all 0.3s;
  }
  .f-etc p br {display: none;}
  /* f-etc -E */
  /* hover -S */
  .f-wrap .fnb ul li a:hover { color: #fff; text-decoration: underline;}
  .f-etc nav ul li a:hover { color: #fff; text-decoration: underline;}
  /* hover -E */
  /* FOOTER -E */

@media (min-width:1281px) and (max-width:1500px) { 
  /* HEADER -S */
  /* all-menu -S */
  /* all-menu-gnb -S */
  .all-menu-wrap .all-menu-gnb { padding: 13rem 0 0 4rem; }
  .all-menu-wrap .all-menu-gnb .depth1 + .depth1 { margin-top: 3rem; }
  .all-menu-wrap .all-menu-gnb .depth1 > a { font-size: 2.4rem; line-height: 3.2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 { display: flex; flex-wrap: wrap; }
  .all-menu-wrap .all-menu-gnb .depth1:nth-child(3) .depth2 li { margin-bottom: 1.3rem; }
  .all-menu-wrap .all-menu-gnb .depth1:nth-child(3) .depth2 li:last-child { border-left: 0; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { font-size: 1.6rem; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li:first-child { border-left: 0; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li a { padding: 0 2rem;}
  /* all-menu-gnb -E */
  /* all-menu-hire -S */
  .all-menu-wrap .all-menu-hire figure img { width: 100%; }
  .all-menu-wrap .all-menu-hire strong { font-weight: 700; font-size: 2.4rem; line-height: 3rem; color: #fff; text-align: center; }
  .all-menu-wrap .all-menu-hire p { 
    padding: 0 2.5rem;
    font-size: 1.6rem; line-height: 3.6rem; color: #fff; text-align: center;
  }
  /* all-menu-hire -E */
  /* all-menu -E */
  /* HEADER -E */

  /* FOOTER -S */
  .f-wrap { 
    flex-direction: column;
    justify-content:flex-start;
    margin-bottom: 10rem;
  }
  /* f-info -S */
  .f-wrap .f-info { margin-bottom: 5rem; }
  .f-wrap .f-info .f-info-box + .f-info-box { margin-top: 2rem;}
  .f-wrap .f-info-box { 
    flex-direction: column;
    align-items:flex-start;
  }
  .f-wrap .f-info-box h6 { margin: 0 0 1rem 0; }
  /* f-info -E */
  /* fnb -S */
  .f-wrap .fnb ul { justify-content:flex-start }
  .f-wrap .fnb ul li:first-child a { padding: 0 2.5rem 0 0; }
  /* fnb -E */
  /* f-etc -S */
  .f-etc p { font-size:1.6rem; line-height: 2rem; color: #333; }
  /* f-etc -E */
  /* FOOTER -E */
} 
@media (min-width:1025px) and (max-width:1280px) { 
  /* HEADER -S */
  .header { 
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
  }
  .header .logo { 
    left: 50%; top:6rem;
    transform: translateX(-50%); 
  }
  .gnb {display: none;}
  .search-box fieldset { width: 70%; }
  /* all-menu-gnb -S */
  .all-menu-wrap .all-menu-gnb { width: 100%; }
  .all-menu-wrap .all-menu-gnb ul {  padding-bottom: 1rem; }
  .all-menu-wrap .all-menu-gnb { padding: 13rem 0 0 4rem; }
  .all-menu-wrap .all-menu-gnb .depth1 + .depth1 { margin-top: 0; }
  .all-menu-wrap .all-menu-gnb .depth1 > a { font-size: 2.4rem; line-height: 3.2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { 
    margin-bottom: 1.3rem; 
    border-left: 0;
  }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { font-size: 1.6rem; }
  /* all-menu-gnb -E */
  /* all-menu-center -S */
  .all-menu-wrap .all-menu-center { display: none; }
  /* all-menu-center -E */
  /* all-menu-hire -S */
  .all-menu-wrap .all-menu-hire {
    width: 100%;
    padding-top: 15vw;
  }
  .all-menu-wrap .all-menu-hire figure img { width: 100%; }
  .all-menu-wrap .all-menu-hire strong { font-weight: 700; font-size: 2.4rem; line-height: 3rem; color: #fff; text-align: center; }
  .all-menu-wrap .all-menu-hire p { 
    padding: 0 2.5rem;
    font-size: 1.6rem; line-height: 3.6rem; color: #fff; text-align: center;
  }
  /* all-menu-hire -E */
  /* HEADER -E */
  /* FOOTER -S */
  .footer .inner { padding: 8rem 4rem 0; }
  .footer-tit {
    margin-bottom: 4.5rem;
    font-size: 4.5rem; line-height: 5.5rem;
  }
  .f-wrap { flex-direction: column;}
  /* f-info -S */
  .f-wrap .f-info { margin-bottom: 5rem; }
  .f-wrap .f-info .f-info-box + .f-info-box { margin-top: 2rem;}
  .f-wrap .f-info-box {  
    flex-direction: column;
    align-items:flex-start;
  }
  .f-wrap .f-info-box h6 { margin: 0 0 1rem 0;}
  /* f-info -E */
  /* fnb -S */
  .f-wrap .fnb ul { justify-content:flex-start }
  .f-wrap .fnb ul li:first-child a { padding: 0 2.5rem 0 0; }
  /* fnb -E */
  /* f-etc -S */
  .f-etc { 
    justify-content: flex-start;
    flex-direction: column;
  }
  .f-etc p { margin-bottom: 2rem; }
  .f-etc nav ul { justify-content: flex-start; }
  .f-etc nav ul li:first-child a { padding: 0 2.8rem 0 0 ;}
  /* f-etc -E */
  /* FOOTER -E */
}
@media (min-width:781px) and (max-width:1024px) {
  /* HEADER -S */
  .header { 
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
  }
  .header .logo { 
    left: 50%; top:6rem;
    transform: translateX(-50%); 
  }
  .gnb {display: none;}
  /* search -S */
  .search-open .search-close { top: 3rem; }
  .search-box fieldset { width: 70%; }
  .search-recom .search-recom-box { display: flex; flex-wrap: wrap; }
  .search-recom .search-recom-box li { padding: 0.9rem 2rem; }
  .search-recom .search-recom-box li+li { margin-left: 2rem; }
  .search-recom .search-recom-box { font-size: 1.6rem; line-height: 2rem; }
  /* search -E */
  /* all-menu-gnb -S */
  .all-menu-wrap .all-menu-gnb { width: 100%; }
  .all-menu-wrap .all-menu-gnb ul {  padding-bottom: 1rem; }
  .all-menu-wrap .all-menu-gnb { padding: 13rem 0 0 4rem; }
  .all-menu-wrap .all-menu-gnb .depth1 + .depth1 { margin-top: 2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 > a { font-size: 2.4rem; line-height: 3.2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { 
    margin-bottom: 1.3rem; 
    border-left: 0;
  }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { font-size: 1.6rem; }
  /* all-menu-gnb -E */
  /* all-menu-center -S */
  .all-menu-wrap .all-menu-center { display: none; }
  /* all-menu-center -E */
  /* all-menu-hire -S */
  .all-menu-wrap .all-menu-hire {
    width: 100%;
    padding-top: 15vw;
  }
  .all-menu-wrap .all-menu-hire figure img { width: 100%; }
  .all-menu-wrap .all-menu-hire strong { font-weight: 700; font-size: 2.4rem; line-height: 3rem; color: #fff; text-align: center; }
  .all-menu-wrap .all-menu-hire p { 
    padding: 0 2.5rem;
    font-size: 1.6rem; line-height: 3.6rem; color: #fff; text-align: center;
  }
  /* all-menu-hire -E */
  /* HEADER -E */
  /* FOOTER -S */
  .footer .inner { padding: 8rem 3rem 0; }
  .footer-tit {
    margin-bottom: 4.5rem;
    font-size: 4.5rem; line-height: 5.5rem; letter-spacing: -0.2rem;
  }
  .f-wrap { 
    flex-direction: column;
    justify-content:flex-start;
    margin-bottom: 15rem;
  }
  /* f-info -S */
  .f-wrap .f-info { margin-bottom: 5rem; }
  .f-wrap .f-info .f-info-box + .f-info-box { margin-top: 2rem;}
  .f-wrap .f-info-box { 
    flex-direction: column;
    align-items:flex-start;
  }
  .f-wrap .f-info-box h6 { margin: 0 0 1rem 0;}
  /* f-info -E */
  /* fnb -S */
  .f-wrap .fnb ul {
    display: flex;
    justify-content:flex-start
  }
  .f-wrap .fnb ul li:first-child a { padding: 0 2.5rem 0 0; }
  .f-etc { 
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px 65px;
  }
  /* fnb -E */
  /* f-etc -S */
  .f-etc p { margin-bottom: 2rem; }
  .f-etc nav ul { justify-content: flex-start; }
  .f-etc nav ul li:first-child a { padding: 0 2.8rem 0 0 ; }
  /* f-etc -E */
  /* FOOTER -E */
 } 
@media (min-width:361px) and (max-width:780px) {
  /* HEADER -S */
  .header { 
    padding: 1rem 1rem;
    border-bottom: 2px solid #fff;
  }
  .header .logo { 
    left: 50%; top:12rem;
    transform: translateX(-50%); 
  }
  .gnb {display: none;}
  /* search -S */
  .search-open .search-close { top: 3rem; }
  .search-box fieldset { width: 70%; }
  .search-recom .search-recom-box { display: flex; flex-wrap: wrap; justify-content: center; }
  .search-recom .search-recom-box li { margin-bottom: 1.5rem; padding: 0.5rem 1rem; }
  .search-recom .search-recom-box li+li { margin-left: 1rem; }
  .search-recom .search-recom-box { font-size: 1.6rem; line-height: 2rem; }
  .search-open .search-close { right: 3rem; top: 2rem; }
  .search-box fieldset input {
    margin-bottom: 1.5rem;
    height: 2rem;
  }
  .search-box fieldset input::placeholder { font-size: 1.6rem; }
    /* search -E */
    /* all-menu -S */
    
  .all-menu-wrap { flex-direction: column; }
  /* all-menu-gnb -S */
  .all-menu-wrap .all-menu-gnb { width: 100%; }
  .all-menu-wrap .all-menu-gnb ul {  padding-bottom: 1rem; }
  .all-menu-wrap .all-menu-gnb { padding: 12rem 0 0 2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 + .depth1 { margin-top: 0; }
  .all-menu-wrap .all-menu-gnb .depth1 > a { font-size: 1.4rem; line-height: 2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { 
    margin-bottom: 1.3rem; 
    border-left: 0;
  }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { font-size: 1.3rem; }
  /* all-menu-gnb -E */
  /* all-menu-center -S */
  .all-menu-wrap .all-menu-center { display: none; }
  /* all-menu-center -E */
  /* all-menu-hire -S */
  .all-menu-wrap .all-menu-hire {
    padding: 5vw 1.5rem 0;
    width: 100%; height: 100%;
  }
  .all-menu-wrap .all-menu-hire figure {display: none;}
  .all-menu-wrap .all-menu-hire h2 { display: none; }
  .all-menu-wrap .all-menu-hire strong { text-align: left; }
  .all-menu-wrap .all-menu-hire p { line-height: 2rem; text-align: left; }
  .all-menu-wrap .all-menu-hire a { 
    width: 9.8rem; height: 3.7rem;
    border: 0;
    font-size: 1.6rem; line-height: 3.7rem;
    left: 70%; top: 8%;
    transform: translateX(0);
  }
  /* all-menu-hire -E */
  /* all-menu -E */
  /* HEADER -E */
  /* FOOTER -S */
  .footer .inner{ padding: 2.5rem 1.5rem 0;  }
  .footer-tit {
    margin-bottom: 4.5rem;
    font-size: 2.4rem; line-height: 3.4rem; letter-spacing: -0.2rem;
  }
  .f-wrap { 
    flex-direction: column;
    justify-content:flex-start;
  }
  /* f-info -S */
  .f-wrap .f-info { margin-bottom: 5rem; }
  .f-wrap .f-info .f-info-box + .f-info-box { margin-top: 2rem;}
  .f-wrap .f-info-box { 
    flex-direction: column;
    align-items:flex-start;
  }
  .f-wrap .f-info-box address { font-size: 1.4rem; }
  .f-wrap .f-info-box h6 { 
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
  }
  .f-wrap .f-info-box p { font-size: 1.4rem; }
  /* f-info -E */
  /* fnb -S */
  .f-wrap .fnb ul { justify-content:flex-start }
  .f-wrap .fnb ul li + li { margin-left: 0.5rem; }
  .f-wrap .fnb ul li a {
    padding: 0;
    font-size: 1.4rem;
  }
  .f-wrap .fnb ul li:first-child a { padding: 0; }
  /* fnb -E */
  /* f-etc -S */
  .f-etc { 
    justify-content: flex-start;
    flex-direction: column;
    padding: 1.5rem 1.5rem;
  }
  .f-etc p { 
    margin-bottom: 2rem;
    font-size:1.4rem; 
  }
  .f-etc nav ul { justify-content: flex-start; }
  .f-etc nav ul li + li { 
    margin-left: 1rem;
    border-left: 0;
  }
  .f-etc nav ul li a { 
    padding: 0 1.5rem;
    font-size:1.4rem; line-height: 2rem; letter-spacing: 0.2rem; 
  }
  /* f-etc -E */
  /* FOOTER -E */
} 
@media (max-width:360px) { 
  /* HEADER -S */
  .header { 
    padding: 1rem 1rem;
    border-bottom: 2px solid #fff;
  }
  .header .logo { 
    left: 50%; top:12rem;
    transform: translateX(-50%); 
  }
  .gnb {display: none;}
  /* search -S */
  .search-open .search-close { top: 3rem; }
  .search-box fieldset { width: 70%; }
  .search-recom .search-recom-box {
    display: flex; flex-wrap: wrap; justify-content: center;
  }
  .search-recom .search-recom-box li {
    margin-bottom: 1.5rem; padding: 0.5rem 1rem;
  }
  .search-recom .search-recom-box li+li { margin-left: 1rem; }
  .search-recom .search-recom-box { 
    font-size: 1.6rem;
    line-height: 2rem; 
  }
  .search-open .search-close {
    right: 3rem; top: 2rem;
  }
  .search-box fieldset input {
    margin-bottom: 1.5rem;
    height: 2rem;
  }
  .search-box fieldset input::placeholder { 
    font-size: 1.3rem; 
  }
  /* search -E */
  /* all-menu -S */
  .all-menu-wrap { flex-direction: column; }
  /* all-menu-gnb -S */
  .all-menu-wrap .all-menu-gnb { width: 100%; }
  .all-menu-wrap .all-menu-gnb ul {  padding-bottom: 1rem; }
  .all-menu-wrap .all-menu-gnb { padding: 12rem 0 0 2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 + .depth1 { margin-top: 0; }
  .all-menu-wrap .all-menu-gnb .depth1 > a { font-size: 1.4rem; line-height: 2rem; }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { 
    margin-bottom: 1.3rem; 
    border-left: 0;
  }
  .all-menu-wrap .all-menu-gnb .depth1 .depth2 li { font-size: 1.3rem; }
  /* all-menu-gnb -E */
  /* all-menu-center -S */
  .all-menu-wrap .all-menu-center { display: none; }
  /* all-menu-center -E */
  /* all-menu-hire -S */
  .all-menu-wrap .all-menu-hire {
    width: 100%; height: 100%;
    padding: 5vw 1.5rem 0;
  }
  .all-menu-wrap .all-menu-hire figure {display: none;}
  .all-menu-wrap .all-menu-hire h2 { display: none; }
  .all-menu-wrap .all-menu-hire strong { text-align: left; }
  .all-menu-wrap .all-menu-hire p { line-height: 2rem; text-align: left; }
  .all-menu-wrap .all-menu-hire a { 
    width: 9.8rem; height: 3.7rem;
    border: 0;
    font-size: 1.6rem; line-height: 3.7rem;
    left: 70%; top: 8%;
    transform: translateX(0);
  }
  /* all-menu-hire -E */
      /* all-menu -E */
  /* HEADER -E */
  /* FOOTER -S */
  .footer .inner{ padding: 2.5rem 1.5rem 0;  }
  .footer-tit {
    margin-bottom: 4.5rem;
    font-weight: 700; font-size: 2.4rem; color: #555; line-height: 3.4rem; letter-spacing: -0.3rem;
  }
  .f-wrap { 
    flex-direction: column;
    justify-content:flex-start;
    margin-bottom: 15rem;
  }
  /* f-info -S */
  .f-wrap .f-info { margin-bottom: 5rem; }
  .f-wrap .f-info .f-info-box + .f-info-box { margin-top: 2rem;}
  .f-wrap .f-info-box { 
    flex-direction: column;
    align-items:flex-start;
  }
  .f-wrap .f-info-box address { font-size: 1.4rem; line-height: 2rem; }
  .f-wrap .f-info-box h6 { 
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
  }
  .f-wrap .f-info-box p { font-size: 1.4rem; line-height: 2rem; }
  /* f-info -E */
  /* fnb -S */
  .f-wrap .fnb ul { justify-content:flex-start }
  .f-wrap .fnb ul li + li { margin-left: 0; }
  .f-wrap .fnb ul li a {
    padding: 0 1rem ;
    font-size: 1.4rem; color: #555; line-height: 2rem;
  }
  .f-wrap .fnb ul li:first-child a { padding: 0 1rem; }
  /* fnb -E */
  /* f-etc -S */
  .f-etc { 
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .f-etc p { 
    margin-bottom: 2rem;
    font-size:1.4rem; line-height: 2rem;
  }
  .f-etc nav ul { justify-content: flex-start; }
  .f-etc nav ul li + li { 
    margin-left: 0.5rem;
    border-left: 0;
  }
  .f-etc nav ul li a { 
    padding: 0 1rem;
    font-size:1.4rem; line-height: 2rem; 
  }
  .f-etc nav ul li:first-child a { padding: 0 1rem; }
  /* f-etc -E */
  /* FOOTER -E */
} 